@foreach(var idUser in ViewBag.DatosFamiliares)
{
    <h1>Familiares</h1>
    @idUser.Nombre;
    @idUser.Apellido;
    @idUser.Parentesco;
    @idUser.Descripcion;
}

<form action='@Url.Action("Volver", "Home")' method ="post">
<input type="submit" value="Volver">
</form>