<h1>Bienvenido @ViewBag.Usuario.Nombre @ViewBag.Usuario.Apellido</h1>

<h1>@ViewBag.Usuario.FechaNacimiento</h1>

<img src="/img.@ViewBag.Usuario.Foto">

<form action='@Url.Action("DatoFamiliar", "Home")' method = "post">
        <input type="submit" value="Familiares">
    </form>
    <form action='@Url.Action("DatoInteres", "Home")' method = "post">
        <input type="submit" value="Intereses">
</form>

<form action='@Url.Action("LogOut", "Home")' method ="post">
<input type="submit" value="Volver">
</form>